
@import url('https://fonts.googleapis.com/css2?family=Bungee+Tint&display=swap');

html, body {
  padding: 0;

  margin: 0;
  font-family: "Bungee Tint", sans-serif;
  font-weight: 500;
  /* background-color: transparent; */
  
}
body {
  overflow-y: hidden;
  background-color: black;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: 0;
  width: 100%;
  height: 100%;
  /* overflow: hidden; */
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-x: hidden; /* Change from hidden to scroll */
  display: flex;
  z-index: 1;
  overflow-y: hidden;
  /* overflow: hidden; */

}

.content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4ch;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  font-weight: 500;

  font-size: 40px;
}


